* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 400px;
    height: 70vh;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: lightpink;
}

button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: palevioletred;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #dda6c1;
}

.greeting-text{
    color: red;
    font-size: 24px;
    text-align: center;
    margin-bottom: 350px ;
    text-shadow: 2px 2px #000000;
}

.mainText{
    margin-bottom: 300px ;
    text-shadow: 2px 2px #ffffff;
}